@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 1200px) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }
}
@media (max-width: 720px) {
  html {
    font-size: 12px; /* 1rem = 14px */
  }
}
@media (max-width: 480px) {
  html {
    font-size: 10px; /* 1rem = 14px */
  }
}
html {
  scroll-behavior: smooth;
}
